@*
    @using : namespace de la classe Pokemon

    @model : 
    Vue fortement typée : on lui indique le type de données du modèle
*@

@using Fr.EQL.AI109.TPPokemon.Model

@model List<PokemonDetail>

@{ 
    int nbPokemons = Model.Count;
    int nbRestants = 100 - nbPokemons;
}

<h1>Mes Pokemons (@nbPokemons)</h1>
<h2>Il reste @nbRestants emplacements disponibles</h2>

<a asp-controller="Pokemon" asp-action="Nouveau">Ajouter un pokemon</a>

<table>
    <tr>
        <th>Nom</th>
        <th>Créé le</th>
        <th>Taille</th>
        <th>Catégorie</th>
        <th>Dresseur</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (PokemonDetail p in Model)
    {
    <tr>
        <td>
            @p.Nom.ToUpper()
        </td>
        <td>
            @(p.DateCreation.HasValue ? p.DateCreation.Value.ToString("dd MMMM yyyy") : "pas de date...")
        </td>
        <td>
            @p.Taille
        </td>
        <td>
            @p.LibelleCategorie
        </td>
        <td>
            @p.PrenomDresseur @p.NomDresseur?.ToUpper()
        </td>
        <td>
            <a asp-controller="Pokemon" asp-action="Details" asp-route-id="@p.Id">
                détails
            </a>
        </td>
        <td>
            <a asp-controller="Pokemon" asp-action="Update" asp-route-id="@p.Id">
                modifier
            </a>
        </td>
    </tr>
     }
</table>