@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Fr.EQL.AI109.TPPokemon.Model

@model Pokemon 

@{
}

<h1>Création d'un pokemon</h1>

<form method="post">

    <p>
        <label asp-for="Nom">Nom : </label>
        <input asp-for="Nom" placeholder="Pikachu" />
        @Html.ValidationMessage("Nom")
    </p>

    <p>
        <label asp-for="Taille">Taille : </label>
        <input asp-for="Taille" placeholder="1,22"/>
        @Html.ValidationMessage("Taille")
    </p>
     
    <p>
        <label asp-for="DateCreation">Date de création :</label>
        <input asp-for="DateCreation" type="date" />
        @Html.ValidationMessage("DateCreation")
    </p>

    <p>
        <label asp-for="IdCategorie">Catégorie :</label>
        <select asp-for="IdCategorie">
            @foreach (Categorie c in ViewBag.Categories)
            {
            <option value="@c.Id">@c.Libelle</option>
            }
        </select>

    </p>

    <p>
        <button type="submit">Valider</button>
    </p>
</form>